<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Revese String</title>
</head>

<body>
	<h1>Reverse String</h1>
	<p>You typed: <%= params[:post][:sourcestring] %></p>
	<p>The reversed string: <%= params[:post][:sourcestring].reverse %></p>
	<p>Click <a href="/">here</a> to try a new string.</p>
</body>

</html>
